@model BuilderBuddy.Models.Wall

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wall</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drywall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drywall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrywallCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrywallCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JointCompound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JointCompound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JointCompoundCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JointCompoundCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JointTape)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JointTape)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JointTapeCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JointTapeCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Screws)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Screws)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScrewsCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScrewsCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WallCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WallCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WallID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
