@model IEnumerable<BuilderBuddy.Models.Wall>

@{
    ViewData["Title"] = "Index";
}

<h1>Archive of Walls</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th colspan="3" style="border:1px solid brown;">
                <p align="center">WALL INFORMATION</p>
            </th>
            
            <th colspan="4" style="border:1px solid brown;">
                <p align="center">MATERIAL SHOPPING LIST</p>
            </th>

            <th colspan="5" style="border:1px solid brown;">
                <p align="center">COST ESTIMATES</p>
            </th>

        </tr>
        <tr>
            <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.ProjectID)
            </th>
            <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.Length)
            </th>
             <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.Drywall)
            </th>
             <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.JointCompound)
            </th>
             <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.JointTape)
            </th>
             <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.Screws)
            </th>
             <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.DrywallCost)
            </th>
             <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.JointCompoundCost)
            </th>
             <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.JointTapeCost)
            </th>
             <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.ScrewsCost)
            </th>
            <th style="border:1px solid brown;">
                @Html.DisplayNameFor(model => model.WallCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drywall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JointCompound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JointTape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screws)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.DrywallCost)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.JointCompoundCost)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.JointTapeCost)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.ScrewsCost)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.WallCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WallID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WallID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WallID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
