@{
    ViewData["Title"] = "New Project";
}
<h1>@ViewData["Title"]</h1>

<p>This is where the user can enter their project data.</p>


<p>Enter a Project Name:</p>

<!-- change index, home, and red color -->
@model BuilderBuddy.Models.Project

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
@Html.TextBoxFor(m => m.ProjectName, new {@Value = "Enter Name", @class = "red" })
}
<style>
    .red { color:red; }
</style>


<br>

<p>Enter a Project Date (MM/DD/YYYY):</p>

<!-- is simpler better -->

@Html.TextBoxFor(m => m.ProjectDate)

<style>
    .red { color:red; }
</style>


<!-- 
<p>How Many rooms are in this project?</p>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
@Html.TextBoxFor(m => m.NumberOfRooms, new {@Value = "Enter Number of Rooms", @class = "red" })
}
<style>
    .red { color:red; }
</style>
-->


<br>
<br>

<!--script for ROOM table buttons-->

	<SCRIPT language="javascript">
		function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var cell1 = row.insertCell(0);
			var element1 = document.createElement("input");
			element1.type = "checkbox";
			element1.name="chkbox[]";
			cell1.appendChild(element1);

			//var cell2 = row.insertCell(1);
			//cell2.innerHTML = rowCount + 1;
			var cell2 = row.insertCell(1);
			cell2.innerHTML = "Room Name:";

			var cell3 = row.insertCell(2);
			var element2 = document.createElement("input");
			element2.type = "text";
			element2.name = "txtbox[]";
			cell3.appendChild(element2);

			var cell4 = row.insertCell(3);
			cell4.innerHTML = document.getElementById('createWallTable').innerHTML;

			}
	

		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					table.deleteRow(i);
					rowCount--;
					i--;
				}
			}
			}catch(e) {
				alert(e);
			}
		}

	</SCRIPT>

	<!--script to create Wall Table-->

	<script id="createWallTable" type="text/html">
	<TABLE id="wallTable" width="550px" border="1">
					<tr>
						<INPUT type="button" value="Add Wall" onclick="addWallRow('wallTable')" />

						<INPUT type="button" value="Delete Wall" onclick="deleteWallRow('wallTable')" />
					</tr>
					<TR>
						<TD width="25px"><INPUT type="checkbox" name="chk"/></TD>
						<TD width="75px"> Wall: </TD>
						<TD width="150px"> <INPUT type="text" /> </TD>
						<TD width="75px"> Height: </TD>
						<TD width="150px"> <INPUT type="text" /> </TD>
						<TD width="75px"> Length: </TD>
						<TD width="150px"> <INPUT type="text" /> </TD>
					</TR>
				</TABLE>
	</script>
	

	<!--script for WALL table buttons-->

	<SCRIPT language="javascript">
		function addWallRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var cell1 = row.insertCell(0);
			var element1 = document.createElement("input");
			element1.type = "checkbox";
			element1.name="chkbox[]";
			cell1.appendChild(element1);

			//var cell2 = row.insertCell(1);
			//cell2.innerHTML = rowCount + 1;
			var cell2 = row.insertCell(1);
			cell2.innerHTML = "Wall:";

			var cell3 = row.insertCell(2);
			var element2 = document.createElement("input");
			element2.type = "text";
			element2.name = "txtbox[]";
			cell3.appendChild(element2);

			var cell4 = row.insertCell(3);
			cell4.innerHTML = "Height:";

			var cell5 = row.insertCell(4);
			var element3 = document.createElement("input");
			element3.type = "text";
			element3.name = "txtbox[]";
			cell5.appendChild(element3);
			
			
			var cell6 = row.insertCell(5);
			cell6.innerHTML = "Length:";

			var cell7 = row.insertCell(6);
			var element4 = document.createElement("input");
			element4.type = "text";
			element4.name = "txtbox[]";
			cell7.appendChild(element4);

			}
	

		function deleteWallRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					table.deleteRow(i);
					rowCount--;
					i--;
				}
			}
			}catch(e) {
				alert(e);
			}
		}

	</SCRIPT>


	<INPUT type="button" value="Add Room" onclick="addRow('dataTable')" />

	<input type="button" value="Create New Room" onclick="location.href='@Url.Action("Create", "Room")'" />

	<INPUT type="button" value="Delete Room" onclick="deleteRow('dataTable')" />

	<input type="button" value="Edit Project" onclick="location.href='@Url.Action("Index", "Project")'" />

	<style>
      tr.border-bottom td {
        border-bottom: 1pt solid #000000;
      }
    </style>

	<TABLE id="dataTable" width="1200px" border="1">
		<TR class="border-bottom">
			<TD width="25px"><INPUT type="checkbox" name="chk"/></TD>
			<TD width="125px"> Room Name: </TD>
			<TD width="250px"> <INPUT type="text" /> </TD>
			<TD width="600px">

				<TABLE id="wallTable" width="550px" border="1">
					<tr>
						<INPUT type="button" value="Add Wall" onclick="addWallRow('wallTable')" />

						<INPUT type="button" value="Delete Wall" onclick="deleteWallRow('wallTable')" />
					</tr>
					<TR>
						<TD width="25px"><INPUT type="checkbox" name="chk"/></TD>
						<TD width="75px"> Wall: </TD>
						<TD width="150px"> <INPUT type="text" /> </TD>
						<TD width="75px"> Height: </TD>
						<TD width="150px"> <INPUT type="text" /> </TD>
						<TD width="75px"> Length: </TD>
						<TD width="150px"> <INPUT type="text" /> </TD>
					</TR>
				</TABLE>
				
				
			 </TD>
		</TR>
	</TABLE>

<br>
<br>

<!-- change end of next line -->

<input type="button" value="Add New Project" onclick="location.href='@Url.Action("Create", "Project")'" />